.mycard {
    min-width: 360px;
    background-color: #130230;
    color: white
}
.myfixed {
    flex: 0 0 185px;
}
.myimg {
    transition: transform 0.5s;
    width: 185px;
    height: 265px;
}
.mybadge {
    z-index: 1;
}
.mybadge::selection {
    background: #3a2c5a;
}
.myimg::selection {
    background: #3a2c5a;
}
.myimg:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.mybody {
    padding: 8px 8px;
}
.overfl {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.card-title::selection {
    background: #3a2c5a;
}
.card-text {
    font-family: 'Montserrat-light';
}
.card-text::selection {
    background: #3a2c5a;
}
.mybody {
    padding: 8px 8px;
}